/* Dashboard.css */

.class-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 4rem; 
    justify-content: flex-start;
    max-width: 100%; 
    box-sizing: border-box; 
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: row;
  }

  .container{
    padding: 1rem;
  }
  



  